.sort-header{
    div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        i{
            padding: 0 2px;
        }
    }
}

.add-new{
    // display: flex;
    justify-content: space-between;
    align-items: center;

    .group-btns{
        display: flex;
        gap: 10px;

        i{
            padding: 0 2px;
        }
    }
}
.customize-table{
    width: inherit;
    overflow-x: auto;

    table{ 
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .customize-table{
    
        table{ 
            width: calc(100% + 350px);
        }
    }
}
